body {
  margin: 0 0 auto;
}

#main-container {
  font-family: sans-serif;
  font-size: 0.8em;

}



// Canvas

section#playground {
  height: 600px;
}


#canvas {
  display: flex;
  height: 40em;
  padding: 0;



  background-color: #353848;
}

.canvas-item {
  margin: 2%;
  padding: 4%;
  background-color: #a3c9c7;


}



// Form

form h3 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-container {
  display: flex;
  flex-wrap: wrap;
}

.form-item {
  flex-shrink: 1;
  padding: 0.8em;
}

input {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

label {
  margin-left: 0.3em;
}
